:root {
  --amarelo: #fec63e;
}

/*  ESTILOS GERAIS */
body {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  line-height: 20px;
}

img {
  display: block;
  max-width: 100%;
}

.subtitulo {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.1em;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.subtitulo:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #000;
  margin: 8px auto;
}

.subtitulo-interno {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.1em;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.subtitulo-interno:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #000;
  margin: 8px 0;
}

.btn {
  border: 3px solid var(--amarelo);
  padding: 10px 30px;
  color: var(--amarelo);
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.btn:hover {
  color: #fff;
  border-color: #fff;
}

.btn.btn-preto:hover {
  color: #000;
  border-color: #000;
}

/* HEADER */
.header {
  position: fixed; /* ao usar o scroll o menu fica fixo no topo */
  top: 0; /* usado para manter o menu no topo junto com position*/
  width: 100%;
  background: var(--amarelo);
  padding: 15px 0;
  z-index: 10;
}

.header_menu {
  text-align: right;
}

.header_menu ul li {
  display: inline-block;
  margin-left: 25px;
  margin-top: 20px;
}

.header_menu ul li a {
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em; /* Espaçamento entre as letras */
  font-size: 14px;
  line-height: 20px;
  padding: 10px 0; /* padding utilizado para aumentar a area clicavel do menu de navegação */
}

.header_menu ul li a:hover {
  color: #fff; /* Ao passar o mouse em cima do menu de navegação, ele irá trocar de cor */
}

.header_menu ul li a.menu_ativo {
  color: #fff;
}

/* INTRODUÇÃO */
.introducao {
  width: 100%;
  height: 380px;
  background: url("../img/bg.jpg") no-repeat center;
  background-size: cover;
  margin-top: 92px;
  text-align: center;
  padding-top: 100px;
}

.introducao h1 {
  font-size: 48px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.quote-externo {
  max-width: 320px;
  margin: 0 auto;
  color: #fff;
  margin-bottom: 40px;
}

.quote-externo p {
  font-style: italic;
}

/* Criação do separador antes e depois da citação */
.quote-externo p:before,
.quote-externo p:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #fff;
  margin: 14px auto 10px auto;
}

.quote-externo cite {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.1em;
}

/* INTRODUÇÃO INTERNA */
.introducao-interna {
  width: 100%;
  margin-top: 92px;
  height: 160px;
  text-align: center;
  color: #fff;
  padding-top: 30px;
}

.introducao-interna h1 {
  font-size: 36px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.introducao-interna h1:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #fff;
  margin: 6px auto 10px auto;
}

/* PRODUTOS */
.produtos {
  padding: 60px 0;  
}

.produtos_lista li {
  background: var(--amarelo);
  text-align: center;
}

.produtos_lista li img {
  margin: 0 auto;
}

.produtos_lista li h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px; /* altura da linha */
  letter-spacing: 0.1em; /* espaçamento entre as letras */
  margin-top: 20px;
  text-transform: uppercase;
}

.produtos_lista li h3:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #000;
  margin: 2px auto;
}

.produtos_lista li p {
  padding: 10px 20px 20px 20px;
}

.produtos_icone {
  background: #000;
  padding: 20px;
}

.call {
  padding-top: 40px;
  text-align: center;
  clear: both;
}

.call p {
  margin-bottom: 20px;
}

/* PORTFÓLIO */
.portfolio {
  width: 100%;
  background: #000;
  padding: 40px 0;
}

.portfolio .subtitulo {
  color: var(--amarelo);
}

.portfolio .subtitulo:after {
  background: var(--amarelo);
}

.portfolio_lista li:last-child {
  /* seleciona o último item da lista */
  margin-top: 20px;
}

.portfolio .call p {
  color: #fff;
}

/* QUALIDADE */
.qualidade {
  padding: 60px 0;
}

.qualidade:after {
  content: "";
  width: 634px;
  height: 83px;
  display: block;
  background: url("../img/linhas.svg") no-repeat center;
  position: absolute;
  top: 209px;
  left: 164px;
  z-index: -1;
}

.qualidade img {
  margin: 0 auto;
}

.qualidade_lista {
  padding-top: 20px;
  overflow: auto; /* clear-fix */
}

.qualidade_lista li {
  text-align: center;
  padding: 0px 40px;
}

.qualidade_lista li h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px; /* altura da linha */
  letter-spacing: 0.1em; /* espaçamento entre as letras */
  margin-top: 20px;
  text-transform: uppercase;
}

.qualidade_lista li h3:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #000;
  margin: 6px auto;
}

/* QUEBRA FOOTER */
.quebra {
  width: 100%;
  height: 220px;
  background: url("../img/bg-footer.jpg") no-repeat center;
  background-size: cover;
  text-align: center;
  padding-top: 40px;
}

.quebra .quote-externo {
  max-width: 400px;
}

/*FOOTER */
.footer {
  width: 100%;
  background: #000;
  color: #fff;
  padding: 20px 0px;
}

.footer h3 {
  font-size: 18px;
  line-height: 25px;
  color: var(--amarelo);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}

.footer h3:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: var(--amarelo);
  margin: 6px 0 12px 0;
}

.footer_historia {
  padding-right: 40px;
}

.footer_contato ul li {
  font-size: 14px;
  line-height: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.footer_redes ul li {
  display: inline-block;
  margin-right: 10px;
}
.footer_redes ul li a {
  border: 3px solid var(--amarelo);
  display: block;
  padding: 10px;
}

.footer_redes ul li a:hover {
  border-color: #fff;
}

.copy {
  width: 100%;
  background: var(--amarelo);
  padding: 20px 0;
}

/* JAVASCRIPT*/
[data-slide] {
  position: relative;
}
[data-slide] > * {
  position: absolute;
  top: 0px;
  opacity: 0;
}
[data-slide] > .active {
  position: relative;
  opacity: 1;
  transition: opacity 500ms;
}

[data-slide-nav] {
  display: block;
  text-align: center;
  margin-top: 20px;
}

[data-slide-nav] button {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 4px;
  border: none;
  padding: 0px;
  border-radius: 6px;
  text-indent: -99px;
  overflow: hidden;
  background: #1d1d1d;
}

[data-slide-nav] button.active {
  background: #fec63e;
}

[data-anime] {
  opacity: 0;  
}
.fadeInDown {
  transform: translate3d(0, -20px, 0);
}
.anime {
  opacity: 1;
  transform: none;
  transition: opacity 800ms, transform 800ms;  
}

